@use './variables' as v;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    &::-webkit-scrollbar-thumb {
        background-color: v.$main_color;
    }

    &::-webkit-scrollbar {
        width: 12px;
        height: 20px;
    }
}

@font-face {
    font-family: 'Cairo';
    src: url(../fonts/Cairo-Regular.ttf);
}

body {
    background-color: #F6F7FA;
    font-family: Cairo;
    
    .container-fluid {
        padding: 0;
    }
}
.general-title {
    color: v.$main_color;
    text-align: center;
    margin-top: 75px;
    margin-bottom: 60px;
    font-weight: bold;
}

.icon-color {
    color: v.$main_color !important;
    font-size: 20px;
}
// تنسيق القائمة العلوية
nav {
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;

    .navbar-brand{
        color: v.$main_color !important;
        font-size: 22px;
        font-weight: bold;
    }

    .navbar-collapse {
        .navbar-nav {
                li {
                    margin-left: 10px;
                    a {
                        &:hover {
                            color: v.$main_color;
                        }
                    }
                }
        }
    }
}

// تنسيق شرائح الصور
.student-slid {
    .row {
        margin: 0;

        #carouselExample {
            padding: 0;
        }
    }
    .carousel-item {
        img {
            height: 450px;
            object-fit: cover;
        }
    }
}

.our-activities {
    .student-card {
        background-color: #fff;
        border: 2px solid #E3E4E8;
        border-radius: 5px;
        height: 230px;
        padding: 15px;
        text-align: center;
        margin-bottom: 20px;

        i {
            color: v.$main_color !important;
            font-size: 40px;
        }
        h1 {
            font-size: 22px;
            font-weight: bold;
            margin-top: 15px;
            margin-bottom: 20px;
            color: #000;
        }
        p {
            color: #6B7280;
        }
    }
}

// تنسيقات قسم طلابنا
.our-students {

    #ourstudents {
        .card {
            text-align: center;
            width: 280px;
            display: flex !important;
            justify-content: center !important;
            align-items: center !important;

            img {
                width: 180px;
                height: 180px;
                border-radius: 50%;
                object-fit: cover;
                border: 4px solid v.$main_color;
                margin-top: 28px;
            }

            .card-body {
                h1 {
                    font-size: 22px;
                    font-weight: bold;
                }
            }
        }
    }
}

@media (min-width: 992px) {
    .col-lg-4 {
        flex: 0 0 auto;
        width: 25.333333%;
    }
}

.top-students {
    .card {
        border-radius: 10px;

        img {
            width: 180px;
            height: 180px;
            border-radius: 50%;
            object-fit: cover;
            border: 4px solid #eee;
        }

        .bg-card {
            display: flex;
            justify-content: center;
            background-color: v.$main_color;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
            padding: 20px;
        }

        .card-body {
            padding: 20px;

            .card-title {
                font-size: 25px;
                font-weight: bold;
                color: v.$main_color;
            }
            .card-text {
                font-size: 14px;
                font-weight: bold;
                margin-top: 15px;
            }
            .card-des {
                color: #6B7280;
            }

            a {
                color: v.$main_color;
                background-color: #E0F2F7;
            }
        }
    }
}

// تنسيق قسم تواصل معنا
.contact-us {
    .info-phone {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        .icon {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-color: #E0F2F7;
            text-align: center;
            margin-bottom: 20px;

            i {
                text-align: center;
                font-size: 30px;
                color: v.$main_color;
                margin-top: 10px;
            }
        }

        .info {
            padding: 10px;
            h1 {
                font-size: 22px;
                font-weight: bold;
            }
            p {
                color: #6B7280;
            }
        }
    }

    iframe {
        border-radius: 5px;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        width: 100%;
    }
}

// تنسيق ذيل الصفحة
footer {
    text-align: center;
    height: 50px;
    margin-top: 20px;
    padding: 10px;
    background-color: #fff;
    color: #000;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;

    p {
        span {
            color: v.$main_color;
            font-weight: bold;
        }
    }
}

// تنسيق صفحة انشاء حساب
form {
    padding-top: 20px !important;
    padding-bottom: 50px !important;
    margin-bottom: 50px;

    label {
        padding-bottom: 20px !important;
        padding-top: 20px !important;
    }

    .form-icon {
        color: v.$main_color !important;
        font-size: 20px;
        padding-right: 5px;
    }

    .row {
        .input {
            display: flex !important;
            align-items: center !important;
            flex-direction: row-reverse !important;
            border: 1px solid #dee2e6 !important;
            border-radius: 6px;

            input {
                border: 0;
            }
        }

        .btn-form {
            width: 100%;
            background-color: v.$main_color;
            color: #fff;
            padding: 8px;
            margin-top: 30px;

            &:hover {
                background-color: #0a53be !important;
            }
        }
    }
}

#form-info {
    max-width: 700px;
    margin: 0 auto;
    padding: 2rem;
    border-radius: 12px;
    background: #fff;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
    margin-bottom: 60px;
}

/* للأجهزة الكبيرة اجعله أضيق قليلاً */
@media (min-width: 992px) {
    #form-info {
        max-width: 800px;
    }
}

#form-login {
    width: 45%;

    .btn-login {
        p {
            margin-top: 18px;

            span {
                a {
                    text-decoration: none;
                    padding-right: 5px;
                }
            }
        }
    }
}